<header>
            <div class="cabecalho">
                <div class="logo">
                    <img src="imagens/acme_logo1.png" alt="logo">
                </div>
                <nav>
                   
                        <a class="a">HOME</a>
                    
                        <a class="a">A UNIVERSIDADE</a>
                  
                        <a class="a" href="cursos.php">CURSOS</a>
                   
                        <a class="a">ACOMPANHAMENTO</a>
                    
                        <a class="a">BIBLIOTECA</a>
                    
                        <a class="a">UNIFORMES</a>
                    
                        <a class="a">FALE CONOSCO</a>
                    
                        <a class="a">LOGIN</a>
                   

                </nav>
            </div>
        </header>